/* ------------------------------------------------------------
   INDEX
------------------------------------------------------------- */

.banderole {
    background-color: #ff9900;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}